<!DOCTYPE html>
<html lang="en">
  <head>
   
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>view profile</title>

    <link rel="stylesheet" href="/css/admin.profile.css" />
    <link rel="icon" href="https://res.cloudinary.com/dozcrwtud/image/upload/v1743746754/White_Minimalist_Online_Fashion_Shop_Bag_Logo_1_od2d4q.png">
  </head>
  <body>
    <div id="section">
      <div id="viewProfile"></div>
    </div>
  </body>

  <script src="/javascript/admin.profile.js"></script>
</html>
