<link rel="stylesheet" href="css/partials/footer.css">
<footer class="footer">
  <div class="footer_container">
    <div class="footer_link_container">
      <img src="https://res.cloudinary.com/dozcrwtud/image/upload/v1743746754/White_Minimalist_Online_Fashion_Shop_Bag_Logo_1_od2d4q.png" alt="Evara logo" width="100" height="50">
      <p><strong>Contact</strong></p>
      <p><strong>Address:</strong> 13 Tlemcen Road, Street 32, Beb-Wahren</p>
      <p><strong>Phone:</strong> +01 2222 365 / (+91) 01 2345 6789</p>
      <p><strong>Hours:</strong> 10:00 - 18:00, Mon - Sat</p>
    </div>
    <div class="footer_link_container">
      <p><strong>Address</strong></p>
      <ul>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Delivery Information</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Terms & Conditions</a></li>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">Support Center</a></li>
      </ul>
    </div>
    <div class="footer_link_container">
      <p><strong>My Account</strong></p>
      <ul>
        <li><a href="#">Sign In</a></li>
        <li><a href="#">View Cart</a></li>
        <li><a href="#">My Wishlist</a></li>
        <li><a href="#">Track Order</a></li>
        <li><a href="#">Help</a></li>
      </ul>
    </div>
  </div>
  <div class="bottom-text">
    <p>© 2025 september. All right reserved</p>
    <p>Designed by Team September</p>
  </div>
</footer>
</body>

</html>