<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" href="css/partials/header.css">
</head>

<body>
  <header class="header">
    <nav class="nav_container">
      <a href="/" class="nav_logo">
        <img src="https://res.cloudinary.com/dozcrwtud/image/upload/v1743746754/White_Minimalist_Online_Fashion_Shop_Bag_Logo_1_od2d4q.png" alt="website logo" />
      </a>
      <div class="nav_menu">
        <a href="/" class="nav_link">Home</a>
        <a href="/shop" class="nav_link">Shop</a>
        <a href="/profile" class="nav_link">My Account</a>
        <a href="/auth/login" class="nav_link">Login</a>
        <a href="/auth/signup" class="nav_link">Signup</a>
      </div>
      <div class="header_user_actions">
        <a href="/wishlist" class="header_action_btn" title="Wishlist">
          <img src="images/heart.svg" alt="Wishlist" />
          <span class="count">3</span>
        </a>
        <a href="/cart" class="header_action_btn" title="Cart">
          <img src="images/cart.svg" alt="Cart" />
          <span class="count">3</span>
        </a>
      </div>
    </nav>
  </header>
</body>

</html>