<%- include('partials/header') %>

<head>
  <title>Contact Us</title>
  <link rel="stylesheet" href="/css/contactUs.css">
</head>
<div class="container">
  <h1>Contact Us</h1>
  <p>Have any questions or need support? Feel free to reach out to us!</p>

  <div class="contact-info">
    <p><strong>Email:</strong> support@evara.com</p>
    <p><strong>Phone:</strong> +91 12345 67890</p>
    <p><strong>Address:</strong> 5007 Silver Radience 2, Science City Road , Ahmedabad</p>
  </div>
</div>
<%- include('partials/footer') %>